<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxUrl="109990" maxQueryString="809600" />
        </requestFiltering>
      </security>
    </system.webServer>
  <system.web>
    <httpRuntime maxUrlLength="102400" relaxedUrlToFileSystemMapping="true"/>
  </system.web>
</configuration>